*
*.*
!.gitignore
!long_short_202*.tex
!long_full_202*.tex
!data/
!data/long_gong_pub.bib
!include/
!includes/cls
!includes/macros
!includes/cls/myRes.cls
!includes/macros/customized_commands.tex
!includes/macros/layout.tex
!includes/macros/packages.tex
!README.md